<MTMultiBlog include_blogs="$blog_id">
<MTAssets offset="$offset" lastn="$lastn"><li style="margin-right:10px;margin-bottom:10px;display:inline-block;/display:inline;/zoom:1;"><a href="" id="<mt:assetid>"><img src="<MTAssetThumbnailURL width="100" square="1">" alt="" /></a></li></MTAssets>
</MTMultiBlog>