<MTSetvarBlock name="tmp">
<div id="imageviewer">
<ul class="ctr">
<li><a href="/mt/mt.cgi?__mode=start_upload&blog_id=<mt:var name="blog_id">" class="refresh">再読み込み</a></li>
<li><a href="/mt/mt.cgi?__mode=start_upload&blog_id=<mt:var name="blog_id">" target="_blank" class="upload">画像一括アップロード(別ウィンドウ)</a></li>
<li><a href="" class="clear">選択解除</a></li>
<li><a href="" class="close">閉じる</a></li>
</ul>
<ul class="view">
</ul>
</div>
</MTSetvarBlock>
<mt:var name="tmp" strip_linefeeds="1">
